
.content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
}
.head{height: 135px;overflow: hidden;}
.main{position: absolute;top:135px;left:0px;right:0px;bottom:0px;}
























